node_modules/
cartridges/plugin_scapi/
cartridges/plugin_applepay/
cartridges/app_storefront_base/
cartridges/app_storefront_base/cartridge/static/default/css/
cartridges/app_storefront_base/cartridge/static/default/js/
cartridges/app_storefront_base/cartridge/static/default/fonts/

cartridges/int_aps_sfra/cartridge/static/default/css/
cartridges/int_aps_sfra/cartridge/static/default/js/

cartridges/modules
coverage/
npm-debug.log
cartridges.zip
.idea/
dw.json
sitegenesisdata/
mobilefirstdata/
storefrontdata/
demo_data_sfra/
demo_data_sfra.zip
.DS_Store
test/appium/webdriver/config.json
.vscode
.history
*.iml
.idea
test/acceptance/report
test/integration/config.json
